@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

:root {
  --color-body: #b6cbce;
  --color-heading: #eef3db;
  --color-base: #033f47;
  --color-base2: #022a30;
  --color-brand: #e0f780;
  --color-brand2: #deff58;
  --sidbar-width: 240px;
  --font-base: "Bai Jamjuree";
}

section {
  padding-top: 4rem;
}

body {
  min-height: 2000px;
  background-color: var(--color-base2);
  color: var(--color-body);
  font-family: var(--font-base), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-weight: 700;
}

.link-custom {
  font-weight: 700;
  position: relative;
}

.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--color-brand);
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
}

.link-custom:hover::after {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;
}

a:hover {
  color: var(--color-brand);
}

.text-brand {
  color: var(--color-brand);
}

.bg-base {
  background-color: var(--color-base2);
}

.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.shadow-effect {
  transition: all 0.5s;
}

.shadow-effect:hover {
  box-shadow: -6px 6px 0 0 var(--color-brand);
}

.custom-card .custom-card-image {
  overflow: hidden;
}

.custom-card .custom-card-image img {
  transition: all 0.4s ease;
}

.custom-card:hover .custom-card-image img {
  transform: scale(1.1);
}

.navbar {
  background-color: rgba(26, 13, 13, 0.5);
}

.navbar .nav-link {
  font-weight: 700;
  color: #fff;
}

.navbar .nav-link:hover {
  color: var(--color-brand);
}

.navbar .nav-link.active {
  color: var(--color-brand);
}

.jumbotron {
  background-color: var(--color-base);
  padding-top: 10rem;
}

#projects {
  background-color: var(--color-base);
}
